/* link to icons https://fontawesome.com/v5/search */

/* Font & Global */

* {
    font-family: Raleway;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

.flex {
    display: flex;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
    justify-content: space-between;
    align-items: center;
}

nav li {
    padding-top: 8px;
}

nav a {
    padding: 35px 35px 0 0;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}

.logo > img {
    width: 61px;
}

/* Search */

.search__iconBox {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 49px;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 25px;
}

.search__input {
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 700;
    width: 230px;
}

.search__button {
    background-color: #0065FC;
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

/* Filters */

.text__filter {
    align-self: center;
}

.filters {
    font-weight: 700;
    font-size: 18px;
    flex-wrap: wrap;
    margin-bottom: 14px;
    margin-top: 18px;
    align-items: center;
}

.filter {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
    margin-right: 15px;
    align-items: center;
    gap: 10px;
}



.filters :hover {
    background-color: #DEEBFF;
}

.filter__title {
    margin-right: 40px;
}

.filter__title:hover {
    background-color: white;
}

.filters i {
    color: #0065FC;
}

.info__box i {
    color: #0065FC;
    padding: 7px 10px;
    font-size: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 1rem;
}

.filter span{
    padding-left: 10px;
}

.info__box {
    height: 24px;
    margin-top: 54px;
    margin-bottom: 40px;
}

/* Housing */

.hotels {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    flex: 2;
    width: 880px;
    height: 626px;
}

.hotel__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0 50px;
}

.hotel__card {
    display: flex;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #C1C1C1;
    width: 246px;
}

.hotel__img {
    width: 236px;
    height: 126px;
    object-fit: cover;
}

.hotel__infos {
    display: flex;
    background-color: white;
    padding: 5px 10px;
    gap: 4px;
}

.hotel__infos p {
    margin: 0;
}

.hotel__stars {
    font-size: 12px;
    gap: 2px;
}


.star {
    color: #F2F2F2;
}

.star--active {
    color: #0065FC;
}

.hotel__showmore {
    font-weight: 700;
    font-size: 1.2rem;
}

/* popular housing */

.popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    margin-left: 3%;
}

.popular__title {
    justify-content: space-between;
    align-items: center;
}

.popular__icon {
    color: #0065FC;
    font-size: 1.5rem;
}

.popular__article {
    height: 144px;
    width: 343px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #C1C1C1;
    box-sizing: border-box;
    overflow: hidden;
}

.popular__hotels {
    flex-direction: column;
    margin-top: 15px;
}

.popular__img {
    width: 137px;
    height: 144px;
    object-fit: cover;
}

.hotel__infos {
    flex: 1;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.hotel__infos > h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}

/* Activities */

#activities {
    margin: 0 auto;
}

.activities__card {
    flex-wrap: wrap;
    display: inline-block;
}

.activity__card {
    width: 302px;
    height: 445px;
    overflow: hidden;
    margin-right: 40px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 7px #C1C1C1;
}

.activity__image {
    height: 389px;
    background-position: center;
    background-size: cover;
}

.activity__title {
    margin-left: 15px;
}

/* footer */

footer {
    background-color: #F2F2F2;
    margin-top: 60px;
}

.about , .accomodations , .help{
    flex: 1;
}

footer h3 {
    margin-left: 37px;
}

footer li {
    margin-bottom: 12px;
}

/* Media */ 

/* Tablet */

@media only screen and (max-width: 992px){
    .container {
        width: 100%;
        margin: 0 17px;
    }

    header {
        margin-left: 10px;
    }

    .search {
        margin-left: 10px;
    }

    main {
        flex-direction: column;
        width: 100%;
    }

    /* housing */ 

    .hotels {
        margin-bottom: 53px;
    }

    .hotel__title {
        margin-left: 55px;
    }

    .hotel__cards {
        justify-content: center;
    }

    .hotel__showmore {
        margin-left: 55px;
    }

    /* popular */

    .popular {
        margin: 0;
        justify-content: space-evenly;
        width: 880px;
        margin-bottom: 70px;
    }

    .popular__hotels {
        flex-direction: row;
        justify-content: space-between;
    }

    .popular__article {
        width: 252px;
        height: 144px;
    }

    /* activities */

    .activities__title {
        margin-left: 50px;
    }

    .activities__cards {
        margin: auto;
        width: 100%;
    }

    .activities__card {
        width: 182;
    }

    .activity__title {
        margin: 10px 0 10px 10px;
    }

    /* footer */

    footer {
        margin: 70px 80px 0 40px;
    }
}

@media only screen and (max-width: 768px){

    .container {
        width: 100%;
        margin: 0 17px;

    }

    /* header */

    header {
        flex-direction: column;
    }

    .logo {
        margin-top: 21px;
    }

    nav {
        justify-content: space-evenly;
    }

    nav li a {
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 23px;
    }

    nav li a:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 23px;
        border-top: none;
        padding-top: none;
    }

    /*search */

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search p {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .filters {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filters a {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .filter__title {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 120px;
    }

    .filter {
        width: 200px;
        margin-bottom: 14px;
    }

    /* housing */

    .hotel__cards , .popular__hotels , .activities__cards {
        flex-direction: column;
    }
}