/* link to icons https://fontawesome.com/v5/search */

/* Font & Global */

* {
    font-family: Raleway;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

.flex {
    display: flex;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
    justify-content: space-between;
    align-items: center;
}

nav li {
    padding-top: 8px;
}

nav a {
    padding: 35px 35px 0 0;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
}

.logo > img {
    width: 61px;
}

/* Search */

.search__iconBox {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 49px;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 25px;
}

.search__input {
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 700;
    width: 230px;
}

.search__button {
    background-color: #0065FC;
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.btn__search__icon {
    display: none;
}

/* Filters */

.text__filter {
    align-self: center;
}

.filters {
    font-weight: 700;
    font-size: 18px;
    flex-wrap: wrap;
    margin-bottom: 14px;
    margin-top: 18px;
    align-items: center;
}

.filter {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 12px 20px;
    margin-right: 15px;
    align-items: center;
    gap: 10px;
}



.filters :hover {
    background-color: #DEEBFF;
}

.filter__title {
    margin-right: 40px;
}

.filter__title:hover {
    background-color: white;
}

.filters i {
    color: #0065FC;
}

.info__box i {
    color: #0065FC;
    padding: 7px 10px;
    font-size: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 1rem;
}

.filter span{
    padding-left: 10px;
}

.info__box {
    height: 24px;
    margin-top: 54px;
    margin-bottom: 40px;
}

/* Housing */

.hotels {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    flex: 2;
    width: 880px;
    height: 626px;
}

.hotel__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0 50px;
}

.hotel__card {
    display: flex;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #C1C1C1;
    width: 246px;
}

.hotel__img {
    width: 236px;
    height: 126px;
    object-fit: cover;
}

.hotel__infos {
    display: flex;
    background-color: white;
    padding: 5px 10px;
    gap: 4px;
}

.hotel__infos p {
    margin: 0;
}

.hotel__stars {
    font-size: 12px;
    gap: 2px;
}


.star {
    color: #F2F2F2;
}

.star--active {
    color: #0065FC;
}

.hotel__showmore {
    font-weight: 700;
    font-size: 1.2rem;
}

/* popular housing */

.popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    margin-left: 3%;
}

.popular__title {
    justify-content: space-between;
    align-items: center;
}

.popular__icon {
    color: #0065FC;
    font-size: 1.5rem;
}

.popular__article {
    height: 144px;
    width: 343px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #C1C1C1;
    box-sizing: border-box;
    overflow: hidden;
}

.popular__hotels {
    flex-direction: column;
    margin-top: 15px;
}

.popular__img {
    width: 137px;
    height: 144px;
    object-fit: cover;
}

.hotel__infos {
    flex: 1;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.hotel__infos > h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}

/* Activities */

#activities {
    margin: 0 auto;
    margin-top: 50px;
}

.activities__cards {
    justify-content: space-between;
}

.activity__card {
    width: 302px;
    height: 445px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 7px #C1C1C1;
}

.activity__image {
    height: 389px;
    background-position: center;
    background-size: cover;
}

.activity__title {
    margin-left: 15px;
}

/* footer */

footer {
    background-color: #F2F2F2;
    margin-top: 60px;
}

.about , .accomodations , .help{
    flex: 1;
}

footer h3 {
    margin-left: 37px;
}

footer li {
    margin-bottom: 12px;
}

/* Media */ 

/* Tablet */

@media only screen and (max-width: 992px){
    .container {
        width: 90%;
        min-width: 769px;
        margin: 0 17px;
    }

    header {
        margin-left: 10px;
    }

    .search {
        margin-left: 10px;
    }

    .filter__title {
        margin-right: 20px;
    }

    .filter {
        padding: 12px 10px;
    }

    main {
        flex-direction: column;
        width: 100%;
    }

    /* housing Tablet*/ 

    .hotels {
        margin-bottom: 53px;
        height: auto;
        width: auto;
    }

    .hotel__title {
        margin-left: 55px;
    }

    .hotel__cards {
        justify-content: center;
    }

    .hotel__card {
        width: 205px;
    }

    .hotel__infos h3, .hotel__infos p{
        font-size: smaller;
    }

    .hotel__showmore {
        margin-left: 55px;
    }

    /* popular Tablet*/

    .popular {
        margin: 0;
        justify-content: space-evenly;
        width: 90%;
        margin-bottom: 70px;
    }

    .popular__hotels {
        flex-direction: row;
        justify-content: space-between;
    }

    .popular__article {
        width: 90%;
        height: 144px;
    }

    .popular__img {
        width: 42%;
        border-radius: 15px 0px 0px 15px;
        border: 5px solid white;
    }

    .popular p {
        padding-bottom: 40px;
    }

    /* activities Tablet*/

    #activities {
        margin: 0 auto;
        width: 90%;
    }

    .activity__card {
        height: 230px;
    }

    .activity__image {
        height: 150px;
    }

    .activities__cards {
        margin: auto;
        gap: 30px;
    }

    .activity__title {
        align-items: center;
        
    }

    /* footer Tablet*/

    footer {
        width: 95%;
        margin-left: 25px;
    }

    footer h3 {
        font-size: 1.2rem;
    }
}

/* mobile */

@media only screen and (max-width: 768px){

    .container {
        width: 100%;
        margin: 0;
    }

    h3 {
        font-size: 1.5rem;
    }

    /* header mobile */

    header {
        flex-direction: column;
    }

    .logo {
        margin-top: 21px;
    }

    .logo > img {
        width: 80px;
    }

    nav {
       margin-top: 10px; 
       width: 100%;
    }

    nav ul{
        width: 100%;
    }

    nav li{
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li:hover{
        border-bottom-color:#0065FC;
    }

    nav li a {
        padding-bottom: 23px;
        font-size: 1.5rem;
    }

    nav li a:hover {
        color: #0065FC;
        padding-bottom: 23px;
        border-top: 0;
        padding-top: 0;
    }

    /*search mobile */

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search h2 {
        width: 50%;
        text-align: center;
    }

    .search__button {
        max-width: 45px;
    }

    .btn__text {
        display: none;
    }

    .btn__search__icon {
        display: inherit;
    }

    .search p {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .filters {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filters a {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter__title {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 90px;
        margin-right: 50px;
        
    }

    .filter {
        width: 250px;
        margin-bottom: 14px;
        padding: 15px;
        justify-content: center;
    }

    .info__box {
        margin-top: 10px;
    }

    .info__box span {
        width: 75%;
        text-align: center;
    }

    /* general main mobile */

    .hotel__cards , .popular__hotels , .activities__cards {
        display: flex;
        flex-direction: column;
    }

    .full-bleed {
        box-shadow: 0 0 0 100vmax #F2F2F2;
        clip-path: inset(0 -100vmax); 
      }


    /* popular mobile */

    .popular {
        width: 100%;
        border-radius: 0;
        display: grid;
        padding: 0;
    }

    .popular__title h2 {
        font-size: 2rem;
    }

    .popular__card {
        width: 100%;
        
    }

    .popular__hotels {
        margin: 0 auto;
    }

    .popular__article {
        border-radius: 15px;
        margin-bottom: 30px;
        box-shadow: 0 0 7px #C1C1C1;
        box-sizing: border-box;
        overflow: hidden;
        margin-left: 25px;
        height: 160px;
    }

    .popular__img {
        border: 5px solid white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        min-height: 150px;
        width: 50%;
    }

    .hotel__infos {
        width: 360px;
    }

    .title {
        margin-left: 25px;
    }

    .popular__icon--hiddenMobile , .hotel__showmore--hiddenMobile {
        visibility: hidden;
    }

    .popular__icon--showmobile {
        visibility: visible;
    }

    /* housing mobile */

    #housing {
        flex-direction: column-reverse;
    }

    .hotels {
        width: 100%;
        background-color: white;
        padding: 0;
        margin: 0;
    }

    .hotel__title {
        margin-left: 75px;
        font-size: 2rem;
    }

    .hotel__cards {
        display: grid;
    }

    .hotel__card {
        max-width: 708px;
        width: 80%;
        margin: auto;
    }

    .hotel__img {
        width: 768px;
        min-height: 200px;
    }

    .hotel__infos > h3 {
        margin: 0;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .hotel__infos > p {
        font-size: 1.2rem;
    }

    /* activities mobile */ 

    .activities__title {
        font-size: 2rem;
        margin-left: 75px;
    }

    .activity__card {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        max-height: 250px;
    }

    .activity__image {
        max-height: 200px;
    }

    /* footer mobile */ 

    footer {
        font-size: 1.5rem;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
        min-height: 501px;
    }

    .help {
        margin-bottom: 50px;
    }
}
